@using KaspiFinal.Controllers;

@{
    
    ViewBag.Title = "ViewProducts";
}

<h2>ViewProducts</h2>


<body>
   
    <table width="750" cellpadding="5" cellspacing="0">
       @foreach (ProductInfo product in ViewBag.InfoProducts)
        {
        <tr>
            <td>
                <img src="data:image/*;base64,@(Convert.ToBase64String(product.Thumbnail))"><img>
            </td>
            <td>
                <h5>@product.Name</h5>
            </td>
            <td>
                <p>@product.Price</p>
            </td>
            <td>
                <a href="/Products/About/@product.ProductID">подробнее</a>
            </td>
            <td>
                <a>Вот тут типо добавить в корзину</a>
            </td>

        </tr>
        }
    </table>
</body>

